<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gruop.cmoic.mapper.ChapterMapper" >
  <resultMap id="BaseResultMap" type="com.gruop.cmoic.pojo.Chapter" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="comicsId" property="comicsid" jdbcType="INTEGER" />
    <result column="chapterNum" property="chapternum" jdbcType="INTEGER" />
    <result column="chapterName" property="chaptername" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="uploadTime" property="uploadtime" jdbcType="DATE" />
    <result column="chapterContentAddress" property="chaptercontentaddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, comicsId, chapterNum, chapterName, content, uploadTime, chapterContentAddress
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gruop.cmoic.pojo.ChapterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from chapter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from chapter
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from chapter
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gruop.cmoic.pojo.ChapterExample" >
    delete from chapter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gruop.cmoic.pojo.Chapter" >
    insert into chapter (id, comicsId, chapterNum, 
      chapterName, content, uploadTime, 
      chapterContentAddress)
    values (#{id,jdbcType=INTEGER}, #{comicsid,jdbcType=INTEGER}, #{chapternum,jdbcType=INTEGER}, 
      #{chaptername,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{uploadtime,jdbcType=DATE}, 
      #{chaptercontentaddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gruop.cmoic.pojo.Chapter" >
    insert into chapter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="comicsid != null" >
        comicsId,
      </if>
      <if test="chapternum != null" >
        chapterNum,
      </if>
      <if test="chaptername != null" >
        chapterName,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="uploadtime != null" >
        uploadTime,
      </if>
      <if test="chaptercontentaddress != null" >
        chapterContentAddress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="comicsid != null" >
        #{comicsid,jdbcType=INTEGER},
      </if>
      <if test="chapternum != null" >
        #{chapternum,jdbcType=INTEGER},
      </if>
      <if test="chaptername != null" >
        #{chaptername,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        #{uploadtime,jdbcType=DATE},
      </if>
      <if test="chaptercontentaddress != null" >
        #{chaptercontentaddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gruop.cmoic.pojo.ChapterExample" resultType="java.lang.Integer" >
    select count(*) from chapter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update chapter
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.comicsid != null" >
        comicsId = #{record.comicsid,jdbcType=INTEGER},
      </if>
      <if test="record.chapternum != null" >
        chapterNum = #{record.chapternum,jdbcType=INTEGER},
      </if>
      <if test="record.chaptername != null" >
        chapterName = #{record.chaptername,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadtime != null" >
        uploadTime = #{record.uploadtime,jdbcType=DATE},
      </if>
      <if test="record.chaptercontentaddress != null" >
        chapterContentAddress = #{record.chaptercontentaddress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update chapter
    set id = #{record.id,jdbcType=INTEGER},
      comicsId = #{record.comicsid,jdbcType=INTEGER},
      chapterNum = #{record.chapternum,jdbcType=INTEGER},
      chapterName = #{record.chaptername,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      uploadTime = #{record.uploadtime,jdbcType=DATE},
      chapterContentAddress = #{record.chaptercontentaddress,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gruop.cmoic.pojo.Chapter" >
    update chapter
    <set >
      <if test="comicsid != null" >
        comicsId = #{comicsid,jdbcType=INTEGER},
      </if>
      <if test="chapternum != null" >
        chapterNum = #{chapternum,jdbcType=INTEGER},
      </if>
      <if test="chaptername != null" >
        chapterName = #{chaptername,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        uploadTime = #{uploadtime,jdbcType=DATE},
      </if>
      <if test="chaptercontentaddress != null" >
        chapterContentAddress = #{chaptercontentaddress,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gruop.cmoic.pojo.Chapter" >
    update chapter
    set comicsId = #{comicsid,jdbcType=INTEGER},
      chapterNum = #{chapternum,jdbcType=INTEGER},
      chapterName = #{chaptername,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      uploadTime = #{uploadtime,jdbcType=DATE},
      chapterContentAddress = #{chaptercontentaddress,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>